.reg-form {
  border-radius: 10px;
  border: 1px solid rgb(166, 166, 166);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 150px;
}

.reg-form span {
  color: rgb(164, 59, 59);
}
body{
  background: rgb(107,113,122);
  background: linear-gradient(52deg, rgba(107,113,122,0.8538602941176471) 22%, rgba(51,49,55,0.8986782212885154) 50%, rgba(107,113,122,1) 78%);
}
