.login-form {
  border-radius: 10px;
  border: 1px solid rgb(166, 166, 166);
  padding: 20px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 200px;
}
.login-form span {
  color: rgb(164, 59, 59);
}
