.reg-form {
  border-radius: 10px;
  border: 1px solid rgb(166, 166, 166);
  background-color: #fff;
  padding: 20px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 150px;
}

.reg-form span {
  color: rgb(164, 59, 59);
}
